---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
  <div class="container mx-auto p-8">
    <section class="w-3/4">
      <h1 class="text-8xl uppercase text-white leading-none font-black tracking-tight w-3/5">
      This text should get progressively disclosed.
      </h1>
    </section>
  </div>
</Layout>


