---
// thanks.astro
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import { Image } from 'astro:assets';
---

<Layout>
  <section class="w-full max-w-7xl mx-auto p-6 pb-16 my-8 bg-gray-900/50 backdrop-blur-2xl fade">
    <h1 class="font-oswald text-3xl uppercase">Thanks for getting in touch!</h1>
    <p class="font-geist-mono text-sm font-thin mt-12">We've received your message and will get back to you as soon as we can.</p>
  </section>
</Layout>

<style>
</style>

<script>
  import { gsap } from "gsap";
</script>