---
// Background.astro
---

<div id="shader-canvas">
</div>

<style>
  #shader-canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
  }
</style>

<script>
  import {
    ShaderMount,
    grainGradientFragmentShader,
    GrainGradientShapes,
    getShaderColorFromString,
    getShaderNoiseTexture
  } from '@paper-design/shaders';

  function loadNoiseTexture() {
    return new Promise((resolve, reject) => {
      const img = getShaderNoiseTexture();
      if (!img) {
        reject(new Error('Failed to load noise texture'));
        return;
      }
      if (img?.complete) {
        resolve(img);
      } else if (img) {
        img.onload = () => resolve(img);
      }
    });
  }

  const noiseTexture = await loadNoiseTexture();

  const container = document.getElementById('shader-canvas');
  if (!container) throw new Error('Shader canvas container not found');

  const colors = [
    '#ffbf00b8',
    '#754800',
    '#18110c'
  ].map(c => getShaderColorFromString(c));

  const uniforms = {
    u_colorBack: getShaderColorFromString('#0b0b0c'),
    u_colors: colors,
    u_colorsCount: colors.length,
    u_softness: .95,
    u_intensity: .40,
    u_noise: .15,
    u_shape: GrainGradientShapes.corners,
    u_noiseTexture: noiseTexture as HTMLImageElement,
    u_fit: 1.7,
    u_scale: 0.78,
    u_rotation: 95,
    u_originX: .2,
    u_originY: 0.1,
    u_offsetX: -0.2,
    u_offsetY: 0.3,
  };

  const shader = new ShaderMount(
    container,
    grainGradientFragmentShader,
    uniforms,
    { alpha: true },
    .65 // speed
  );
</script>