---
// Footer.astro
---

<footer class="w-full bg-gray-950/75 backdrop-blur-2xl pt-18 pb-18">
  <div class="max-w-7xl mx-auto py-2 px-4 fade text-white grid grid-cols-6">
    <div class="col-span-2 col-start-4">
      <h1 class="font-oswald relative font-normal text-3xl leading-7">
        <span class="bg-white text-black py-0.5 px-2 mr-1">PFL</span> PRO SOUND
      </h1>
    </div>
  </div>
</footer>