---
// Header.astro
import { Image } from 'astro:assets';
import logo from '@assets/pfl-pro-sound-rect-logo.png';
---
<header class="w-full z-10 bg-brand-black-800/85 py-2">
  <div class="flex mx-auto flex-row gap-10 relative max-w-7xl items-center py-2 px-0">
    <div class="text-brand-white-100 flex flex-row py-4 grow">
      <a href="/">
        <Image class="max-w-65" src={ logo } alt="PFL Pro Sound Logo /">
        <h1 class="sr-only">PFL Pro Sound</h1>
      </a>
    </div>
    <div class="flex">
      <nav class="justify-end flex font-geist-mono font-bold text-sm text-brand-white-100 tracking-tight">
        <ul class="text-brand-white-100 flex gap-6 text-center list-none">
          <li>
            <a href="/about-us" class="border-transparent border bg-transparent text-center text-brand-white-100 rounded-sm px-2.5 py-1 lowercase">
              about us
            </a>
          </li>
          <!--<li>
            <a href="/services" class="border-transparent border bg-transparent text-center text-brand-white-100 rounded-sm px-2.5 py-1 lowercase">
              services
            </a>
          </li>
          <li>
            <a href="/gallery" class="border-transparent border bg-transparent text-center text-brand-white-100 rounded-sm px-2.5 py-1 lowercase">
              gallery
            </a>
          </li>-->
          <li>
            <a href="/contact" class="border-brand-orange-500/80 border bg-brand-orange-500/80 text-center  text-brand-white-100 rounded-sm px-2.5 py-2 lowercase">
              contact
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>