---
// Header.astro
---
<header class="w-full z-10 bg-gray-950/75 py-2 backdrop-blur-2xl">
  <div class="flex mx-auto flex-row gap-10 relative max-w-7xl items-center py-2 px-4">
    <div class="text-white flex flex-row py-4 grow">
      <h1 class="font-oswald relative font-normal text-3xl leading-7">
        <span class="bg-white text-black py-0.5 px-2 mr-1">PFL</span> PRO SOUND
      </h1>
    </div>
    <div class="flex">
      <nav class="justify-end flex font-geist-mono font-normal text-sm text-white tracking-tight">
        <ul class="text-white flex gap-6 text-center list-none">
          <li>
            <button class="border-transparent border bg-transparent text-center text-white rounded-sm px-2.5 py-1 lowercase">
              about us
            </button>
          </li>
          <li>
            <button class="border-transparent border bg-transparent text-center text-white rounded-sm px-2.5 py-1 lowercase">
              services
            </button>
          </li>
          <li>
            <button class="border-sky-400/80 border bg-sky-400/80 text-center text-white rounded-sm px-2.5 py-1 lowercase">contact</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>