---
// Header.astro
---

<header class="w-full p-1 mb-12 absolute z-10 bg-black/10">
  <div class="container flex mx-auto px-4 py-1 flex-row gap-10 relative max-w-7xl">
    <h1 class="text-white font-oswald font-normal tracking-tight text-7xl my-0.5 flex-none bg-black/50 px-3 py-1 border-white border rounded-sm">
      <span class="block text-center -ml-0.5 text-white leading-20">PFL</span>
      <span class="font-bold text-base tracking-[-.3px] bg-white py-0 px-1 uppercase block text-center mt-0 mb-2 mx-auto text-black">PRO SOUND</span>
    </h1>
  </div>
</header>