---
// Slider.astro
import { Image } from 'astro:assets';

import Arcane from '@assets/slider/Arcane - Riot Games Showcase-rs.webp'
import Evolve from '@assets/slider/Evolve 50 Private Event-rs.webp'
import KidsChoice from '@assets/slider/Kids Choice Awards 2025 Pre:Post Party-rs.webp'
import Moca2025 from '@assets/slider/MOCA 2025 Concert Stage-rs.webp'
import NBC1 from '@assets/slider/NBC Orchestra Concert 1-rs.webp'
import NBC2 from '@assets/slider/NBC Orchestra concert 2-rs.webp'
import Netflix from '@assets/slider/Netflix Tadum 2025 at The Forum-rs.webp'
import Paramount from '@assets/slider/Paramount Pictures Tree Lighting 2025-rs.webp'
import ComicCon from '@assets/slider/SD ComicCon | Paramount+ Star Trek Experience-rs.webp'
import Springsteen from '@assets/slider/Springsteen Performance - AFI Fest-rs.webp'
import StrangerThings1 from '@assets/slider/Stranger Things 5 Premiere 1-rs.webp'
import StrangerThings2 from '@assets/slider/Stranger Things 5 Premiere 2-rs.webp'
import TCL1 from '@assets/slider/TCL One Battle After Another Premiere 1-rs.webp'
import TCL2 from '@assets/slider/TCL One Battle After Another Premiere 2-rs.webp'
import TheatrePop from '@assets/slider/Theatre Pop Up at The Biltmore-rs.webp'
---

<div class="grid grid-cols-12 gap-2 md:gap-10 max-w-7xl mx-auto mt-4">
  <div class="col-span-12 flex flex-col justify-center mt-0 lg:col-span-4">
    <h2 class="text-brand-white-100 heading font-geist-mono text-3xl tracking-tighter font-normal leading-10 lg:leading-14 mb-4 lg:mb-0 align-middle text-center justify-center lg:text-4xl px-8 lg:px-0">
      audio production tailored for the event industry.
  </div>
  <div class="embla theme-light w-full max-w-7xl mx-auto mt-0 object-contain mb-4 col-span-12 lg:col-span-8">
    <div class="embla__viewport aspect-16/8 mt-2">
      <div class="embla__container h-full">
        <div class="embla__slide">
          <Image src={ Arcane } alt="" priority />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full flex">
            <div class="max-w-7xl mx-auto text-right grow">
              Arcane - Riot Games Showcase
            </div>
          </div>
        </div>
        <div class="embla__slide">
          <Image src={ Evolve } alt="" loading="lazy" />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 text-right px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full">
            Evolve 50 Private Event
          </div>
        </div>
        <div class="embla__slide">
          <Image src={ KidsChoice } alt="" loading="lazy" />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 text-right px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full">
            Kids Choice Awards 2025 Pre/Post Party
          </div>
        </div>
        <div class="embla__slide">
          <Image src={ Moca2025 } alt="" loading="lazy" />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 text-right px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full">
            MOCA 2025 Concert Stage
          </div>
        </div>
        <div class="embla__slide">
          <Image src={ NBC1 } alt="" loading="lazy" />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 text-right px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full">
            NBC Orchestra Concert
          </div>
        </div>
        <div class="embla__slide">
          <Image src={ NBC2 } alt="" loading="lazy" />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 text-right px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full">
            NBC Orchestra Concert
          </div>
        </div>
        <div class="embla__slide">
          <Image src={ Netflix } alt="" loading="lazy" />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 text-right px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full">
            Netflix Tadum 2025 at The Forum
          </div>
        </div>
        <div class="embla__slide">
          <Image src={ Paramount } alt="" loading="lazy" />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 text-right px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full">
            Paramount Pictures Tree Lighting 2025
          </div>
        </div>
        <div class="embla__slide">
          <Image src={ ComicCon } alt="" loading="lazy" />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 text-right px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full">
            SD ComicCon - Paramount+ Star Trek Experience
          </div>
        </div>
        <div class="embla__slide">
          <Image src={ Springsteen } alt="" loading="lazy" />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 text-right px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full">
            Springsteen Performance
          </div>
        </div>
        <div class="embla__slide">
          <Image src={ StrangerThings1 } alt="" loading="lazy" />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 text-right px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full">
            Stranger Things 5 Premiere
          </div>
        </div>
        <div class="embla__slide">
          <Image src={ StrangerThings2 } alt="" loading="lazy" />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 text-right px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full">
            Stranger Things 5 Premiere
          </div>
        </div>
        <div class="embla__slide">
          <Image src={ TCL1 } alt="" loading="lazy" />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 text-right px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full">
            TCL One Battle After Another Premiere
          </div>
        </div>
        <div class="embla__slide">
          <Image src={ TCL2 } alt="" loading="lazy" />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 text-right px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full">
            TCL One Battle After Another Premiere
          </div>
        </div>
        <div class="embla__slide">
          <Image src={ TheatrePop } alt="" loading="lazy" />
          <div class="embla__caption font-geist-mono text-xs text-brand-white-100 py-1 text-right px-8 bg-black opacity-70 absolute bottom-0 z-10 right-0 w-full">
            Theatre Pop Up at The Biltmore
          </div>
        </div>
      </div>
    </div>
    <div class="embla__controls md:grid md:grid-cols-[auto_1fr] justify-between max-w-7xl mx-auto">
      <div class="embla__buttons hidden invisible lg:block lg:visible">
        <button class="embla__button embla__button--prev" type="button">
          <svg class="embla__button__svg" viewBox="0 0 532 532">
            <path
              fill="currentColor"
              d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z"
            ></path>
          </svg>
        </button>

        <button class="embla__button embla__button--next" type="button">
          <svg class="embla__button__svg" viewBox="0 0 532 532">
            <path
              fill="currentColor"
              d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z"
            ></path>
          </svg>
        </button>
      </div>

      <div class="embla__dots justify-center md:justify-end"><button class="embla__dot"></button></div>
    </div>
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { ScrollSmoother } from "gsap/ScrollSmoother";
  import { SplitText } from "gsap/SplitText";
  import { CustomEase } from "gsap/CustomEase";
  import EmblaCarousel from 'embla-carousel';
  import { addPrevNextBtnsClickHandlers } from '@lib/EmblaCarouselArrowButtons';
  import type {
    EmblaOptionsType,
    EmblaCarouselType
  } from 'embla-carousel';
  import { addDotBtnsAndClickHandlers } from '@lib/EmblaCarouselDotButton';
  import Autoplay from 'embla-carousel-autoplay';

  gsap.registerPlugin(ScrollTrigger,ScrollSmoother,SplitText, CustomEase);

  CustomEase.create("osmo-ease","0.625, 0.05, 0, 1");
  SplitText.create('h2.heading', {
    type: 'words',
    mask: 'words',
    autoSplit: true,
    wordsClass: 'word',
    onSplit(self) {
      return gsap.fromTo(
        self.words,
        { yPercent: 80, alpha: 0, },
        { duration: 0.6, yPercent: 0, stagger: 0.2, alpha: 1, ease: "osmo-ease", }
      )
    }
  });

  const emblaNode = document.querySelector('.embla') as HTMLElement;
  const OPTIONS:EmblaOptionsType = { loop: true };
  const viewportNode = emblaNode.querySelector('.embla__viewport') as HTMLElement;
  const prevBtnNode = emblaNode.querySelector('.embla__button--prev') as HTMLElement;
  const nextBtnNode = emblaNode.querySelector('.embla__button--next') as HTMLElement;
  const dotsNode = emblaNode.querySelector('.embla__dots') as HTMLElement;

  const emblaApi = EmblaCarousel(viewportNode, OPTIONS, [Autoplay({delay: 6000})])

  const onNavButtonClick = (emblaApi: EmblaCarouselType): void => {
    const autoplay = emblaApi?.plugins()?.autoplay
    if (!autoplay) return

    const resetOrStop =
      autoplay.options.stopOnInteraction === false
        ? autoplay.reset
        : autoplay.stop

    resetOrStop()
  }

  const removePrevNextBtnsClickHandlers = addPrevNextBtnsClickHandlers(
    emblaApi,
    prevBtnNode,
    nextBtnNode,
    onNavButtonClick
  )
  const removeDotBtnsAndClickHandlers = addDotBtnsAndClickHandlers(
    emblaApi,
    dotsNode,
    onNavButtonClick
  )

  emblaApi.on('destroy', removeDotBtnsAndClickHandlers)
</script>

<style>
  .embla {
    width: 100%;
    height: 100%;
    margin: auto;
    --slide-height: 30rem;
    --slide-spacing: 2rem;
    --slide-size: 100%;
    z-index: 5;
  }

  .embla__viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;

    img {
      position: absolute;
    }
  }

  .heading h2 .word {
    background: black;
    padding: .5rem 2rem;
  }

  .embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 50%;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
  }

  .embla__controls {
    gap: 1rem;
    padding: 0.6rem;
  }

  .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
  }

  .embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.1rem rgba(255,255,255,0.8);
    width: 1.4rem;
    height: 1.4rem;
    z-index: 1;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .embla__button:disabled {
    color: blue;
  }

  .embla__button__svg {
    width: 30%;
    height: 30%;
  }

  .embla__dots {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: calc((1.6rem - 1rem) / 2 * -1);
    gap: .4rem;
  }

  :global(.embla__dot) {
    -webkit-tap-highlight-color: pink;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    gap: 10px;
  }
  :global(.embla__dot:after) {
    box-shadow: inset 0 0 0 0.1rem rgba(255,255,255,0.5);
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
  }
  :global(.embla__dot--selected:after) {
    box-shadow: inset 0 0 0 0.1rem lavenderblush;
    background: lavenderblush;
    background-color: rgba(250,170,250,0.5)
  }

  .theme-light {
    --brand-primary: rgb(47, 112, 193);
    --brand-secondary: rgb(116, 97, 195);
    --brand-alternative: rgb(19, 120, 134);
    --background-site: rgb(249, 249, 249);
    --background-code: rgb(244, 244, 244);
    --text-body: rgb(54, 49, 61);
    --text-comment: rgb(99, 94, 105);
    --text-high-contrast: rgb(49, 49, 49);
    --text-medium-contrast: rgb(99, 94, 105);
    --text-low-contrast: rgb(116, 109, 118);
    --detail-high-contrast: rgb(192, 192, 192);
    --detail-medium-contrast: rgb(234, 234, 234);
    --detail-low-contrast: rgb(240, 240, 242);
    --admonition-note: rgb(46, 109, 188);
    --admonition-warning: rgb(255, 196, 9);
    --admonition-danger: rgb(220, 38, 38);
    --brand-primary-rgb-value: 47, 112, 193;
    --brand-secondary-rgb-value: 116, 97, 195;
    --brand-alternative-rgb-value: 19, 120, 134;
    --background-site-rgb-value: 249, 249, 249;
    --background-code-rgb-value: 244, 244, 244;
    --text-body-rgb-value: 54, 49, 61;
    --text-comment-rgb-value: 99, 94, 105;
    --text-high-contrast-rgb-value: 49, 49, 49;
    --text-medium-contrast-rgb-value: 99, 94, 105;
    --text-low-contrast-rgb-value: 116, 109, 118;
    --detail-high-contrast-rgb-value: 192, 192, 192;
    --detail-medium-contrast-rgb-value: 234, 234, 234;
    --detail-low-contrast-rgb-value: 240, 240, 242;
    --admonition-note-rgb-value: 46, 109, 188;
    --admonition-warning-rgb-value: 255, 196, 9;
    --admonition-danger-rgb-value: 220, 38, 38;
    }

  .theme-dark {
  --brand-primary: rgb(138, 180, 248);
  --brand-secondary: rgb(193, 168, 226);
  --brand-alternative: rgb(136, 186, 191);
  --background-site: rgb(0, 0, 0);
  --background-code: rgb(12, 12, 12);
    --text-body: rgb(222, 222, 222);
    --text-comment: rgb(170, 170, 170);
    --text-high-contrast: rgb(230, 230, 230);
    --text-medium-contrast: rgb(202, 202, 202);
    --text-low-contrast: rgb(170, 170, 170);
    --detail-high-contrast: rgb(101, 101, 101);
    --detail-medium-contrast: rgb(25, 25, 25);
    --detail-low-contrast: rgb(21, 21, 21);
    --admonition-note: rgb(138, 180, 248);
    --admonition-warning: rgb(253, 186, 116);
    --admonition-danger: rgb(220, 38, 38);
    --brand-primary-rgb-value: 138, 180, 248;
    --brand-secondary-rgb-value: 193, 168, 226;
    --brand-alternative-rgb-value: 136, 186, 191;
    --background-site-rgb-value: 0, 0, 0;
    --background-code-rgb-value: 12, 12, 12;
    --text-body-rgb-value: 222, 222, 222;
    --text-comment-rgb-value: 170, 170, 170;
    --text-high-contrast-rgb-value: 230, 230, 230;
    --text-medium-contrast-rgb-value: 202, 202, 202;
    --text-low-contrast-rgb-value: 170, 170, 170;
    --detail-high-contrast-rgb-value: 101, 101, 101;
    --detail-medium-contrast-rgb-value: 25, 25, 25;
    --detail-low-contrast-rgb-value: 21, 21, 21;
    --admonition-note-rgb-value: 138, 180, 248;
    --admonition-warning-rgb-value: 253, 186, 116;
    --admonition-danger-rgb-value: 220, 38, 38;
  }
</style>